@font-face{
    font-family: 'Golos_Text_bold';
    src: url(./Golos-Text_Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Golos_Text_regular';
    src: url(./Golos-Text_Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Golos_Text_demibold';
    src: url(./Golos-Text_DemiBold.ttf);
    font-weight: 600;
}